<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.mzi.trackengine">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".SOMTracker"
        android:allowBackup="true"
        android:icon="@mipmap/som"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_key" />

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.net.mzi.trackengine.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".Notificationmessage" />
        <receiver android:name=".LocationAlarm" />

        <service
            android:name=".ServiceBattery"
            android:enabled="true"
            android:exported="true"
            android:process=":battery_service"
            android:stopWithTask="false" />
        <service
            android:name=".ServiceLocation"
            android:enabled="true"
            android:exported="true"
            android:process=":location_service"
            android:stopWithTask="false" />
        <service
            android:name=".ServiceDataUpdateFirstFragment"
            android:enabled="true" />

        <activity
            android:name=".TicketInfo"
            android:label="@string/title_activity_ticket_info"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AgentPerformance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FollowUpHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FullScreenMap"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_full_screen_map"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".AboutUs" />
        <activity android:name=".EULA_PP_TC" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".GpsLocationReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".TicketCreation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RaiseTicket"
            android:label="@string/title_activity_raise_ticket"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InternalIssueListing"
            android:label="@string/title_activity_internal_issue_listing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".InternalIssueInfo" />
        <activity android:name=".OfflineSyncInfo" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".VouchersActivity" />
        <activity android:name=".VoucherHistory"></activity>

        <receiver android:name=".NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="net.mzi.trackengine.BootReceiver" />
            </intent-filter>
        </receiver>


        <service
            android:name=".LocationUpdatesIntentService"
            android:exported="false" />

        <receiver android:name=".LocationUpdatesBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.location.sample.locationupdatespendingintent.LocationUpdatesBroadcastReceiver.ACTION_PROCESS_UPDATES" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2a9e3f30a7d83edf9eb7c894eccd0e8eb334b790" />
    </application>

</manifest>